* {
  margin: 0%;
  padding: 0%;
}

body {
  max-width: 1480px;
  margin: auto;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header_link{
  margin-top: 63px;
  margin-left: 100px;
  margin-bottom: 40px;
}

.header_ramda{
  font-size: 80px;
  line-height: 94px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

#mda {
  color: #4BCAFF;
}

.main {
  flex: 1 1 auto;
}

.header {
  display: flex;
}

.header_menu {
  display: flex;
  list-style: none;
  align-items: center;
  background-color: #35444f;
  justify-content: space-between;
  width: 1283px;
  height: 72px;
  margin-left: 100px;
  margin-right: 100px;
}

.menu_link {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 21px;
  padding-bottom: 21px;
  border-left: 1px solid white;
}

.header_link_first {
  margin-left: 194px;
} 

.header_link_fourth {
  margin-right: 151px;
  border-right: 1px solid white;
}

.header_link_first:hover {
  background-color: #222F3A;
} 

.header_link_second:hover {
  background-color: #222F3A;
}

.header_link_third:hover {
  background-color: #222F3A;
}

.header_link_fourth:hover {
  background-color: #222F3A;
}

.aside_menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  border: 1px solid #35444f;
  width: 344px;
  height: 399px;
  margin-left: 98px;
  margin-top: 48px;
  padding-bottom: 6px
}

.aside_menu_link {
  text-decoration: none;
  color: #485863;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  width: 342px;
  height: 81px;
  margin-left: 44px;
  justify-content: flex-start;
}

.list_aside_1:hover{
  background-color: #DBDBDB;
}

.list_aside_2:hover{
  background-color: #DBDBDB;
}

.list_aside_3:hover{
  background-color: #DBDBDB;
}

.list_aside_4:hover {
  background-color: #DBDBDB;
}

.list_aside_5:hover{
  background-color: #DBDBDB;
}

.aside_link_1:hover{
  padding-left: 38px;
}

.aside_link_2:hover{
  padding-left: 38px;
}

.aside_link_3:hover{
  padding-left: 38px;
}

.aside_link_4:hover{
  padding-left: 38px;
}

.aside_link_5:hover{
  padding-left: 38px;
}

main {
  float: right;
  display: flex;
  
}

.article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 933px;
}

.image_ramda {
  margin-top: 48px;
  margin-left: 50px;
  margin-bottom: 38px;
}

.paragraphs {
  margin-left: 51px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.first_paragraph{
  margin-bottom: 34px;
}

.second_paragraph {
  margin-bottom: 54px;
}

.footer {
  display: flex;
  flex-direction: row;
}

.footer_menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: 1283px;
  height: 72px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  background-color: #DBDBDB;
  padding-left: 40px;
}

.footer_menu_link {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
}

.footer_menu_link:hover{
  color:#3181A6;
  text-decoration: underline;
}

.copyright {
  font-size: 24px;
  line-height: 24px;
  align-self: flex-end;
  text-decoration: none;
  color: black;
  padding-left: 135px;
  padding-right: 40px;
}
